:root{
    --ColorFooter: #406661;
    --ColorVerdePrincipal: #0EB29A;
    --ColorVerdeBtn: #198754;
    --ColorBlanco: #FFFFFF;
    --ColorNegro: #000000;
    --ColorGrisClaro: #F5F5F5;
    --ColorGrisOscuro: #C4C4C4;
    --ColorAmarillo: #FACE14;
    --ColorRojo: #D30E02;
    --ColorBackground: rgb(0,0,0,0.60);

    --FuenteMartel:'Martel Sans', sans-serif;
 
}


