:root {
  --ColorFooter: #406661
  --ColorVerdePrincipal: #0eb29a
  --ColorVerdeBtn: #198754
  --ColorBlanco: #ffffff
  --ColorNegro: #000000
  --ColorGrisClaro: #f5f5f5
  --ColorGrisOscuro: #c4c4c4
  --ColorAmarillo: #face14
  --ColorRojo: #d30e02
  --ColorBackground: rgb(0, 0, 0, 0.65)
  --FuenteMartel: "Martel Sans", sans-serif
  --FuenteOpenSans: "Open Sans", sans-serif
  --FuenteCoolvetica: "Coolvetica"
  --FuenteHeaters: "Heaters"
  --FuenteMagra: "Magra", "Regular"
}

@font-face {
  font-family: "Coolvetica";
  src: url(../fonts/coolvetica\ rg.ttf);
}
@font-face {
  font-family: "Heaters";
  src: url("../fonts/Heaters.otf");
}
@font-face {
  font-family: "Magra";
  src: url(../fonts/Magra-Regular.ttf);
}
@font-face {
  font-family: "Homemade Apple";
  src: url("../fonts/HomemadeApple-Regular.ttf");
}

html {
  position: relative;
  min-height: 100%;
}
.a{
  text-decoration: none;
}

/***Generales**/
/*botones*/
.btn-centrado {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-success {
  background-color: var(--ColorVerdePrincipal) !important;
  border-color: var(--ColorVerdePrincipal) !important;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.subrayado {
  border-bottom: 2px solid var (--ColorAmarillo);
}
/* navegacion */
.navigator {
  background-color: var(--ColorGrisClaro);
  width: 100%;
  height: 128px;
}
.titulo {
  font-weight: 900;
  font-size: 85px;
  color: var(--ColorAmarillo);
  text-transform: uppercase;
  margin-top: 10px;
}
.vida {
  color: var(--ColorRojo);
  text-transform: uppercase;
}
.imagen {
  background-image: url("../img/index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logotipo {
  width: 50px;
  height: 72px;
  margin-left: 20px;
  margin-top: 30px;
}
.logo-flex {
  display: flex;
  gap: 20px;
}
.button-index {
  height: 70px;
  width: 180px;
  margin: 10px 10px;
  margin-right: 30px;
  margin-top: 30px;
}
.letras {
  font-size: 24px;
}
/*  Slider */
section {
  position: relative;
  height: 100vh;
  width: 100%;
}

/*Inicio de Sesión*/
.form-container-usuario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
  width: 620px;
  padding: 60px 50px;
  box-shadow: 7px 7px 60px #000000;
}

.login {
  /* text-transform: uppercase; */
  font-family: var(--FuenteOpenSans);
  color: var(--ColorBlanco);
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.label {
  text-transform: uppercase;
  color: var(--ColorBlanco);
  padding: 10px;
}
.control input {
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}
input[placeholder] {
  font-size: 18px;
}
.checkbox {
  color: var(--ColorBlanco);
  font-size: 22px;
}
.btn-ingresar {
  font-size: 24px !important;
}

/* informacion */
.margin-bot {
  margin-bottom: 100px;
}
.container-info {
  margin: 50px;
}
.titulo-general {
  text-align: center;
  text-transform: uppercase;
  font-family: "Coolvetica";
  margin: 30px 0px;
  color: var(--ColorVerdePrincipal);
}
.p-informacion {
  font-family: var(--FuenteMartel);
  font-size: 18px;
  text-align: center;
  padding: 20px 20px 0px 20px;
  margin-right: 40px;
}
.img-informacion {
  height: 30%;
  width: 30%;
  margin-right: 30px;
  transform: rotate(10deg);
}
/* Mas info */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  text-align: center;
}
.p-info {
  font-family: var(--FuenteMartel);
  font-size: 18px;
  text-align: center;
  margin: 30px;
}
/* Banner */
.banner {
  background-color: var(--ColorRojo);
  padding: 20px;
}
.flex-config {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slogan {
  color: var(--ColorBlanco);
  font-size: 96px;
  line-height: 80px;
  font-family: "Heaters";
  text-align: center;
}
.btn-rojo {
  background-color: var(--ColorRojo) !important;
  border-color: var(--ColorBlanco) !important;
  width: 230px;
  height: 50px;
}
.btn-slogan {
  font-size: 25px;
  color: var(--ColorBlanco);
}
/* Tipos de sangre */
.tds-general {
  margin-bottom: 50px;
}
.img-tds {
  margin: 30px;
}
.img-tds2 {
  margin-left: 60px;
  margin-top: 20px;
}
.text-tds {
  text-align: center;
  font-family: var(--FuenteMartel);
  font-size: 18px;
  line-height: 2;
  height: 939px;
}
.text-tds h4 {
  text-transform: uppercase;
}
h4 {
  text-align: center;
}
.h4-red {
  color: var(--ColorVerdePrincipal);
  font-weight: bold;
}
.p-red {
  color: var(--ColorVerdePrincipal);
  text-align: left;
  font-weight: bold;
}
/* footer */
.footer {
  background-color: var(--ColorFooter);
  padding: 12px;
}
.derechos-footer {
  font-size: 24px;
  font-family: var(--FuenteOpenSans);
  color: var(--ColorBlanco);
  justify-items: center;
  margin-top: 45px;
}
.footer p {
  font-size: 18px;
  font-family: var(--FuenteOpenSans);
  color: var(--ColorBlanco);
}
.iconos {
  margin-top: 45px;
}

/*Registro*/
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
  width: 470px;
  padding: 50px 40px;
  box-shadow: 7px 7px 60px #000000;
}
.modal-img {
  background-image: url(../img/Superheroe-registro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.form-registro {
  height: 750px;
}
.label-registro {
  color: var(--ColorBlanco);
  text-align: left;
  font-family: var(--FuenteOpenSans);
  font-size: 18px;
}

.campo-registro {
  margin: 20px 0px;
}
.campo-registro p {
  text-align: center;
  color: var(--ColorBlanco);
}
.input-registro {
  float: right;
  padding: 0px 8px;
}
.span-registro {
  color: var(--ColorBlanco);
}
.btn-margen-top {
  margin-top: 50px;
}
.btn-registro {
  padding: 15px !important;
  font-size: 20px !important;
}
.btn-margen-top {
  margin-top: 60px;
}

/* USUARIO */
.margin-bottom30 {
  margin-bottom: 30px;
}
.titulo-usuario {
  font-family: var(--FuenteOpenSans);
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
}
.btn-usuario {
  padding: 20px 30px !important;
}
.titulo-requisitos {
  font-family: var(--FuenteMartel);
  font-size: 36px;
  text-align: center;
  color: var(--ColorVerdePrincipal);
}
.lista-requisitos {
  font-family: var(--FuenteOpenSans);

  font-size: 20px;
  margin: 5px 0px;

  line-height: 3;
}
.flex-config2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pie-usuario {
  font-family: var(--FuenteOpenSans);
  text-align: center;
  font-size: 30px;
  color: var(--ColorVerdePrincipal);
  margin: 60px 0px 20px 0px;
  font-weight: 700;
}

/* PAGINA DE LISTA DE DONANTES */
/*Filtros*/
.filtros {
  align-items: center !important;
}
/* Lista */
.atributos-lista {
  font-family: var(--FuenteOpenSans);
  font-size: 18px;
}
.button-contactar {
  padding: 10px 30px !important;
  font-size: 24px;
}
/* iconos */
.iconos-lista {
  margin: 0px 50px;
}
.iconos-pag {
  text-align: center;
}
.nav-lista {
  margin: 30px 15px 15px 0px !important ;
}
.footer-bajo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Nosotros*/
.margen-nosotros {
  margin: 10px 0px 150px 0px;
}
.texto-nosotros {
  width: 1000px;
}
.parrafo-nosotros {
  text-align: justify;
  font-family: var(--FuenteMartel);
  font-size: 20px;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  text-align: center;
  margin: 100px 40px 20px 40px;
  align-items: center;
}
/*Banner- nosotros*/
.banner-nosotros {
  margin: 20px 0px;
  background-color: var(--ColorRojo);
  padding: 20px;
}
.slogan-nosotros {
  text-align: center;
  color: var(--ColorBlanco);
  font-size: 36px;
  font-family: "Homemade Apple";
}
/*Formulario-nosotros*/
.img-nosotros {
  background-image: url(../img/contactanos.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.form-nosotros {
  width: 872px;
  height: 850px;
}
.label-nosotros {
  color: var(--ColorBlanco);
  text-align: center;
  font-family: var(--FuenteOpenSans);
  font-size: 25px;
}
.input-nosotros {
  width: 100%;
}
.mensaje {
  float: top;
}
.btn-nosotros {
  margin-top: 20px;
  padding: 15px 45px !important;
  font-size: 24px !important;
}

/*Error*/
.bg-error {
  background-color: var(--ColorFooter);
}
.img-error {
  text-align: center;
}

.text-error {
  text-align: center;
  text-transform: uppercase;
  color: var(--ColorAmarillo);
  font-size: 40px;
}
