:root {
  --ColorFooter: #406661;
  --ColorVerdePrincipal: #0eb29a;
  --ColorVerdeBtn: #198754;
  --ColorBlanco: #ffffff;
  --ColorNegro: #000000;
  --ColorGrisClaro: #f5f5f5;
  --ColorGrisOscuro: #c4c4c4;
  --ColorAmarillo: #face14;
  --ColorRojo: #d30e02;
  --ColorBackground: rgba(253, 253, 253, 0.65);

  --FuenteMartel: "Martel Sans", sans-serif
  --FuenteOpenSans: "Open Sans", sans-serif
  --FuenteCoolvetica: "Coolvetica"
  --FuenteHeaters: "Heaters"
  --FuenteMagra: "Magra", "Regular"

}

@font-face {
  font-family: "Coolvetica";
  src: url(../fonts/coolvetica\ rg.ttf);
}
@font-face {
  font-family: "Heaters";
  src: url("../fonts/Heaters.otf");
}
@font-face {
  font-family: "Magra";
  src: url(../fonts/Magra-Regular.ttf);
}
@font-face {
  font-family: "Homemade Apple";
  src: url("../fonts/HomemadeApple-Regular.ttf");
}

html {
  position: relative;
  min-height: 100%;
}
.a{
  text-decoration: none;
}

/***Generales**/
/*Texto error*/
.texto-error{
  margin-top: 10px;
  color: var(--ColorBlanco);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
/*link enlace*/
.a-enlace{
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  color: var(--ColorBlanco);

}
/*botones*/
.btn-centrado {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-success {
  background-color: var(--ColorVerdePrincipal) !important;
  border-color: var(--ColorVerdePrincipal) !important;
}
/*flex y subrayado*/
.flex {
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container{
  margin-top: 50px;
}
.subrayado {
  border-bottom: 2px solid var(--ColorAmarillo);
}
/*mensajes de validaci칩n*/
.alert{
  height: 70px !important ;
}
/** Navegaci칩n **/
.navigator {
  background-color: var(--ColorGrisClaro);
  width: 100%;
  height: 128px;
}
.titulo {
  font-weight: 900;
  font-size: 85px;
  color: var(--ColorAmarillo);
  text-transform: uppercase;
  margin-top: 10px;
}
.vida {
  color: var(--ColorRojo);
  text-transform: uppercase;
}
.imagen {
  background-image: url("../img/index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logotipo {
  width: 50px;
  height: 72px;
  margin-left: 20px;
  margin-top: 30px;
}
.logo-flex {
  display: flex;
  gap: 20px;
}
.button-index {
  height: 70px;
  width: 180px;
  margin: 10px 10px;
  margin-right: 30px;
  margin-top: 30px;
}
.letras {
  font-size: 24px;
}
/*  Slider */
section {
  position: relative;
  height: 100vh;
  width: 100%;
}

/*Inicio de Sesi칩n*/
.form-container-usuario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
  width: 620px;
  padding: 60px 50px;
  box-shadow: 7px 7px 60px #000000;
}

.login {
  font-family: var(--FuenteOpenSans);
  color: var(--ColorBlanco);
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.label {
  text-transform: uppercase;
  color: var(--ColorBlanco);
  padding: 10px;
}
.control input {
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}
input[placeholder] {
  font-size: 18px;
}
.checkbox {
  color: var(--ColorBlanco);
  font-size: 22px;
}
.btn-ingresar {
  font-size: 22px !important;
  padding: 13px !important;
}

/* informacion */
.margin-bot {
  margin-bottom: 90px;
}
.container-info {
  margin: 50px;
}
.titulo-general {
  text-align: center;
  text-transform: uppercase;
  font-family: "Coolvetica";
  margin: 30px 0px;
  color: var(--ColorVerdePrincipal);
}
.p-informacion {
  font-family: var(--FuenteMartel);
  font-size: 18px;
  text-align: center;
  padding: 20px 20px 0px 20px;
  margin-right: 40px;
  margin-bottom: 0;
}
.img-informacion {
  height: 30%;
  width: 30%;
  margin-right: 30px;
  transform: rotate(10deg);
}
/* Mas info */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  text-align: center;
}
.p-info {
  font-family: var(--FuenteMartel);
  font-size: 18px;
  text-align: center;
  margin: 30px;
}
/* Banner */
.banner {
  background-color: var(--ColorRojo);
  padding: 20px;
}
.flex-config {
  display: flex;
  justify-content: space-evenly;
}
.slogan {
  color: var(--ColorBlanco);
  font-size: 96px;
  line-height: 80px;
  font-family: "Heaters";
  text-align: center;
}
/*Boton Quiero Donar*/

.btn-rojo {
  background-color: var(--ColorRojo);
  border-radius: 10px;
  border: 5px double var(--ColorBlanco);
  width: 250px;
  height: 70px;
  margin-top: 55px;
}
.btn-rojo:hover{
  width: 260px;
  height: 80px;
}
.btn-slogan {
  font-size: 25px;
  color: var(--ColorBlanco);
}
/* Tipos de sangre */
.tds-general {
  margin-bottom: 50px;
}
.img-tds {
  margin: 30px;
}
.img-tds2 {
  margin-left: 60px;
  margin-top: 20px;
}
.text-tds {
  text-align: center;
  font-family: var(--FuenteMartel);
  font-size: 18px;
  line-height: 2;
  height: 939px;
  margin-top: 20px;
}
.text-tds h4 {
  text-transform: uppercase;
}
h4 {
  text-align: center;
}
.h4-info {
  color: var(--ColorVerdePrincipal);
  font-weight: bold;
}
.p-info2{
  color: var(--ColorVerdePrincipal);
  text-align: left;
  font-weight: bold;
}
/* footer */
.footer {
  background-color: var(--ColorFooter);
  padding: 12px;
}
.derechos-footer {
  font-size: 24px;
  font-family: var(--FuenteOpenSans);
  color: var(--ColorBlanco);
  justify-items: center;
  margin-top: 45px;
}
.footer p {
  font-size: 18px;
  font-family: var(--FuenteOpenSans);
  color: var(--ColorBlanco);
}
.iconos {
  margin-top: 45px;
}

/*Registro*/
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6));
  width: 470px;
  padding: 50px 40px;
  box-shadow: 7px 7px 60px #000000;
}
.modal-img {
  background-image: url(../img/Superheroe-registro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.form-registro {
  height: 820px;
}
.label-registro {
  color: var(--ColorBlanco);
  text-align: left;
  font-family: var(--FuenteOpenSans);
  font-size: 18px;
}

.campo-registro {
  margin: 20px 0px;
}
.campo-registro p {
  text-align: center;
  color: var(--ColorBlanco);
}
.input-registro {
  float: right;
  padding: 0px 8px;
}
.span-registro {
  color: var(--ColorBlanco);
  text-transform: uppercase;
  font-size: 18px;
}
.btn-registro {
  padding: 15px !important;
  font-size: 20px !important;
}
.btn-margen-top {
  margin-top: 60px;
}

/* USUARIO */
.margin-bottom30 {
  margin-bottom: 30px;
}
.titulo-usuario {
  font-family: var(--FuenteOpenSans);
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
  color: var(--ColorNegro);
}
.btn-usuario {
  padding: 20px 30px !important;
}
.titulo-requisitos {
  font-family: var(--FuenteMartel);
  font-size: 36px;
  text-align: center;
  color: var(--ColorVerdePrincipal);
}
.lista-requisitos {
  font-family: var(--FuenteOpenSans);

  font-size: 20px;
  margin: 5px 0px;

  line-height: 3;
}
.flex-config2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pie-usuario {
  font-family: var(--FuenteOpenSans);
  text-align: center;
  font-size: 30px;
  color: var(--ColorVerdePrincipal);
  margin: 60px 0px 20px 0px;
  font-weight: 700;
}
.btn-editar{
  background-color: var(--ColorBlanco);
  border: none;
  float: right;
}
.icono-editar:hover{  
  stroke: var(--ColorFooter)!important;
}
.campo-usuario{
  display: flex;
  margin-bottom: 20px;
}
.label-usuario{
  text-align: right;
  padding: 5px;
  font-size: 20px;
  font-family: var(--FuenteOpenSans);
}
.input-usuario{
  padding: auto;
  background-color: var(--ColorGrisClaro);
  flex: 1;
  border: none;
}
input[type=radio] {
  margin-top: 3px;
  width: 20px;
  height: 20px;
}
.flex-usuario{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.btn-rojo-usuario{
  background-color: var(--ColorRojo) !important;
  border-color: var(--ColorRojo) !important;
}
.label-mail{
  font-size: 20px;
  color: var(--ColorBlanco);
}

/* PAGINA DE LISTA DE DONANTES */
/*Filtros*/
.container-filtro{
  margin: 30px 0px;
}
.filtros {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.filtros-label{
  font-family: "Coolvetica";
  text-transform: uppercase;
  font-size: 23px;
}
.input-filtro{
  border: 3px solid var(--ColorVerdePrincipal);
}
.btn-buscar{
  background-color: var(--ColorBlanco);
  border:none;
  margin: 0px;
}
.btn-buscar:hover{  
  stroke: var(--ColorFooter)!important;
}
/* Lista */
.atributos-lista {
  font-family: var(--FuenteOpenSans);
  font-size: 18px;
}

.button-contactar {
  padding: 10px 30px !important;
  font-size: 24px;
}
/* iconos */
.iconos-pag {
  text-align: center;
}
.footer-bajo {
  position: absolute;
  bottom: -170px;
  width: 100%;
}
.footer-bajo2{
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*Paginacion*/
.dataTables_length{
  display: none;
}
.pagination{
  justify-content: flex-start !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}


/*Nosotros*/
.margen-nosotros {
  margin: 10px 0px 150px 0px;
}
.texto-nosotros {
  width: 1000px;
}
.parrafo-nosotros {
  text-align: justify;
  font-family: var(--FuenteMartel);
  font-size: 20px;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  text-align: center;
  margin: 100px 40px 20px 40px;
  align-items: center;
}
/*Banner- nosotros*/
.cont-banner-nosotros{
 display: table;
 margin: auto;
}
.banner-nosotros {
  margin: 20px 0px;
  background-color: var(--ColorRojo);
  padding: 20px;
}
.slogan-nosotros {
  position: relative;
  text-align: center;
  color: var(--ColorBlanco);
  font-size: 36px;
  font-family: "Homemade Apple";
  float: left;
}
.barra-nosotros{
  position: absolute;
  right: 0;
  width: 0px;
  height: 70px;
  background-color: var(--ColorRojo);
  border-left: 2px solid #ffffff;
  animation: maquina 6s infinite alternate steps(49);
}
@keyframes maquina{
  from{
    width: 100%;
  }
  to{
    width: 0;
  }
}
/*Formulario-nosotros*/
.img-nosotros {
  background-image: url(../img/contactanos.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.form-nosotros {
  width: 872px;
  height: 850px;
}
.label-nosotros {
  color: var(--ColorBlanco);
  text-align: center;
  font-family: var(--FuenteOpenSans);
  font-size: 25px;
}
.input-nosotros {
  width: 100%;
}
.mensaje {
  float: top;
}
.btn-nosotros {
  margin-top: 20px;
  padding: 15px 45px !important;
  font-size: 24px !important;
}

/*Error*/
.text-error {
  text-align: center;
  text-transform: uppercase;
  color: var(--ColorBlanco);
  font-size: 40px;
  position: relative;
  left: -40%;
  margin-top: 40px;
}

.pagina-error {
  background-color:#740505;
}

.container-error {
  position: absolute;
  top: 50%;
  left: 47%;
  margin-left: -6.5px;
  margin-top: -75.5px;
}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 140px;
  margin-top: 15px;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}
/* ventana de dar de baja */
.menu-darbaja{
  position: absolute;
  width: 500px;
  height: 250px;
  background: rgb(0, 0, 0, 0.6);
  padding: 30px;
  top:35%;
  left:40%;
  border-radius: 4px;
  box-shadow: 7px 13px 37px#000;
}
.body-baja{
  background-color: var(--ColorFooter);
}
.titulo-bajau{
font-family: 'Coolvetica';
text-transform: uppercase;
color: white;
text-align: center;
font-size: 22px;
margin-top: 50px;
}

/*mail y contrase침a*/
.img-body{
  background-image: url(../img/img-mail.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.text-upp{
  text-transform: uppercase;
}
