<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"></html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700;900&family=Open+Sans:wght@400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Registro</title>
</head>

<body>
  <section class="bg-registro">
    <div class="img-registro">
      <div class="form-container form-registro">
        <h3 class="login"> Registro</h3>

        <form action="#">

          <form th:action="@{/persona/registrar}" th:object=${persona} method="POST">
            <p th:if="${error != null}" th:text="${error}" id="exception"></p>

            <input hidden th:field="*{id}">


            <div class="campo-registro">
              <label class="label-registro">Nombre</label>
              <input class="input-registro" type="text" th:field="*{nombre}" required>
            </div>
            <div class="campo-registro">
              <label class="label-registro">Apellido</label>
              <input class="input-registro" type="text" th:field="*{apellido}" required>
            </div>
            <div class="campo-registro">
              <label class="label-registro">Fecha de Nacimiento</label>
              <input class="input-registro" type="date" th:field="*{date}" required>
            </div>
            <div class="campo-registro">
              <label class="label-registro">Sexo</label>
              <select class="input-registro select-registro" th:field="*{sexo}" placeholder="Seleccionar" required>
                <option th:each="s : ${T(com.BancoDeSangre1.BancoDeSangre1.Enums.Sexo).values()}" th:text="${s}"
                  th:value="${s}">Seleccionar</option>
              </select>
            </div>

            <div class="campo-registro">
              <label class="label-registro">Tipo de Sangre</label>
              <select class="input-registro select-registro" th:field="*{tipo}" placeholder="Seleccionar" required>
                <option th:each="t : ${sangre}" th:text="${t.nombre}" th:value="${t.id}">Seleccionar</option>
              </select>
            </div>

            <div class="campo-registro">
              <label class="label-registro">Provincia</label>
              <select class="input-registro select-registro" th:field="*{provincia}" placeholder="Seleccionar" required>
                <option th:each="p : ${provincias}" th:text="${p.nombre}" th:value="${p.id}">Seleccionar</option>
              </select>
            </div>

            <div class="campo-registro">
              <label class="label-registro">Ciudad</label>
              <select class="input-registro select-registro" th:field="*{ciudad}" placeholder="Seleccionar" required>
                <option th:each="c : ${ciudades}" th:text="${c.nombre}" th:value="${c.id}">Seleccionar</option>
              </select>
            </div>
            <div class="campo-registro">
              <label class="label-registro">Donante</label>
              <div class="flex-config">
                <span class="span-registro" th:field="*{donante}">Si</span><input class="donante-registro" type="radio"
                  name="donar">
                <span class="span-registro" th:field="*{donante}">No</span><input class="donante-registro" type="radio"
                  name="donar">
              </div>
            </div>
            <div class="campo-registro">
              <label class="label-registro">Mail</label>
              <input class="input-registro" type="email" th:field="*{mail}" required>
            </div>
            <div class="campo-registro">
              <label class="label-registro">Contraseña</label>
              <input class="input-registro" type="password" th:field="*{contrasenia1}" required>
            </div>

            <div class="campo-registro">
              <label class="label-registro">Repetir Contraseña</label>
              <input class="input-registro" type="password" th:field="*{contrasenia2}" required>
            </div>
            <div class="btn-centrado btn-margen-top">
              <button type="submit" class="btn btn-success ">Registrarse</button>
            </div>
          </form>
      </div>
    </div>
  </section>

</body>

</html>