<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Factor Vida</title>
    </head>
    <body>


        <form th:action="@{/persona/actualizar}" method="POST">

            <p class="texto-error" th:if="${error != null}" th:text="${error}" style="color: white"></p>

            <input type="hidden" name="id" th:value="${persona.id}"/>

            <div class="campo-usuario">
                <label class="label-usuario">Nombre</label>
                <input class="input-usuario" type="text" name="nombre" th:value="${persona.nombre}" required>
            </div>
            <div class="campo-usuario">
                <label class="label-usuario">Apellido</label>
                <input class="input-usuario" type="text" name="apellido" th:value="${persona.apellido}" required>
            </div>
            <div class="campo-usuario">
                <label class="label-usuario">Fecha de nacimiento</label>
                <input class="input-usuario" type="date" name="date" th:value="${persona.date}" required>
            </div>
            <div class="campo-registro" >
                <label  class="label-registro">Tipo de Sangre</label>
                <select class="input-registro select-registro" th:field="*{persona.tipo}" placeholder="Seleccionar" required>
                    <option disable selected th:value="null">Seleccionar</option>
                    <option th:each="t : ${sangre}" th:text="${t.nombre}" th:value="${t.id}">Seleccionar</option>
                </select>
            </div>
            <div class="campo-registro">
                <label class="label-registro">Sexo</label>
                <select class="input-registro select-registro" th:field="*{persona.sexo}" placeholder="Seleccionar" required>
                    <option disable selected th:value="null">Seleccionar</option>
                    <option th:each="s : ${T(com.BancoDeSangre1.BancoDeSangre1.Enums.Sexo).values()}" th:text="${s}" th:value="${s}">Seleccionar</option>
                </select>
            </div>
            <div class="campo-registro">
                <label  class="label-registro">Provincia</label>
                <select class="input-registro select-registro" th:field="*{persona.provincia}" placeholder="Seleccionar" required>
                    <option disable selected th:value="null">Seleccionar</option>
                    <option th:each="p : ${provincias}" th:text="${p.nombre}" th:value="${p.id}">Seleccionar</option>
                </select>
            </div>

            <div class="campo-registro">
                <label  class="label-registro">Ciudad</label>
                <select class="input-registro select-registro" th:field="*{persona.ciudad}" placeholder="Seleccionar" required>
                    <option disable selected th:value="null">Seleccionar</option>
                    <option th:each="c : ${ciudades}" th:text="${c.nombre}" th:value="${c.id}">Seleccionar</option>
                </select>
            </div>
            <div class="campo-usuario">
                <label class="label-usuario">Mail</label>
                <input class="input-usuario" name="email" th:value="${persona.mail}" type="email" required>
            </div>

            <h2 class="titulo-general"><span class="subrayado">Sumate a ser donante</span></h2>
            <div class="flex-usuario">
                <div>
                    <span class="label-usuario">Si</span>
                    <input class="donante-registro" type="radio" name="donar">
                </div>
                <div>
                    <span class="label-usuario">No</span><input class="donante-registro" type="radio" name="donar">
                </div>
            </div>

            <h2 class="titulo-general"><span class="subrayado">Cambio de contraseña</span></h2>
            <div class="campo-usuario">
                <label class="label-usuario">Nuevo contraseña</label>
                <input class="input-usuario" name="password" th:value="${contrasenia1}" type="password" required>
            </div>
            <div class="campo-usuario">
                <label class="label-usuario">Repetir contraseña</label>
                <input class="input-usuario" name="password" th:value="${contrasenia2}" type="password" required>
            </div>

            <div class="flex-config">
                <div class="btn-centrado btn-margen-top">
                    <a href="inicioUsuario"><button type="submit" class="btn btn-success btn-registro btn-rojo-usuario">Darse de baja</button></a>
                </div>
                <div class="btn-centrado btn-margen-top">
                    <a href="/inicioUsuario"><button type="submit" class="btn btn-success btn-registro ">Guardar cambios</button></a>
                </div>
            </div>
        </form>
    </body>
</html>

<!--                        <p class="texto-error" th:if="${error != null}" th:text="${error}" style="color: white"></p>
                        
                        <input type="hidden" name="id" th:value="${persona.id}"/>
            
                        <div class="campo-usuario">
                            <label class="label-usuario">Nombre</label>
                            <input class="input-usuario" th:field="${persona.nombre}" type="text" required>
                        </div>
                        <div class="campo-usuario">
                            <label class="label-usuario">Apellido</label>
                            <input class="input-usuario" th:field="${persona.apellido}" type="text" required>
                        </div>
                        <div class="campo-usuario">
                            <label class="label-usuario">Fecha de nacimiento</label>
                            <input class="input-usuario" th:field="${persona.date}" type="date" required>
                        </div>
                        <div class="campo-registro" >
                            <label  class="label-registro">Tipo de Sangre</label>
                            <select class="input-registro select-registro" th:field="*{tipo}" type="text" placeholder="Seleccionar" required>
                                <option disable selected th:value="null">Seleccionar</option>
                                <option th:each="t : ${sangre}" th:text="${t.nombre}" th:value="${t.id}">Seleccionar</option>
                            </select>
                        </div>
                        <div class="campo-registro">
                            <label class="label-registro">Sexo</label>
                            <select class="input-registro select-registro" th:field="*{sexo}" type="text" placeholder="Seleccionar" required>
                                <option disable selected th:value="null">Seleccionar</option>
                                <option th:each="s : ${T(com.BancoDeSangre1.BancoDeSangre1.Enums.Sexo).values()}" th:text="${s}" th:value="${s}">Seleccionar</option>
                            </select>
                        </div>
                        <div class="campo-registro">
                            <label  class="label-registro">Provincia</label>
                            <select class="input-registro select-registro" th:field="*{provincia}" type="text" placeholder="Seleccionar" required>
                                <option disable selected th:value="null">Seleccionar</option>
                                <option th:each="p : ${provincias}" th:text="${p.nombre}" th:value="${p.id}">Seleccionar</option>
                            </select>
                        </div>
            
                        <div class="campo-registro">
                            <label  class="label-registro">Ciudad</label>
                            <select class="input-registro select-registro" th:field="*{ciudad}" type="text" placeholder="Seleccionar" required>
                                <option disable selected th:value="null">Seleccionar</option>
                                <option th:each="c : ${ciudades}" th:text="${c.nombre}" th:value="${c.id}">Seleccionar</option>
                            </select>
                        </div>
                        <div class="campo-usuario">
                            <label class="label-usuario">Mail</label>
                            <input class="input-usuario" th:field="${persona.mail}" type="text" required>
                        </div>
            
            
                        <h2 class="titulo-general"><span class="subrayado">Sumate a ser donante</span></h2>
                        <div class="flex-usuario">
                            <div>
                                <span class="label-usuario">Si</span>
                                <input class="donante-registro" type="radio" name="donar">
                            </div>
                            <div>
                                <span class="label-usuario">No</span><input class="donante-registro" type="radio" name="donar">
                            </div>
                        </div>
            
            
                        <h2 class="titulo-general"><span class="subrayado">Cambio de contraseña</span></h2>
                        <div class="campo-usuario">
                            <label class="label-usuario">Nuevo contraseña</label>
                            <input class="input-usuario" th:field="${persona.contrasenia1}" type="password" required>
                        </div>
                        <div class="campo-usuario">
                            <label class="label-usuario">Repetir contraseña</label>
                            <input class="input-usuario" th:field="${persona.contrasenia2}" type="password" required>
                        </div>
            
                        <div class="flex-config">
                            <div class="btn-centrado btn-margen-top">
                                <a href="inicioUsuario"><button type="submit" class="btn btn-success btn-registro btn-rojo-usuario">Darse de baja</button></a>
                            </div>
                            <div class="btn-centrado btn-margen-top">
                                <a href="/inicioUsuario"><button type="submit" class="btn btn-success btn-registro ">Guardar cambios</button></a>
                            </div>-->